.header {
  height: 54px;
  background-color: #8a2b06;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  width: 100%;
  padding-left: 19%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.headerName {
  font-size: 1.8em;
}
